{erl_opts, [{parse_transform, lager_transform}, debug_info]}.

{deps,[
    {pgsql, ".*", {git, "git://github.com/Licenser/pgsql.git", {branch, "r16"}}},
    {getopt, ".*", {git, "git://github.com/jcomellas/getopt", {tag, "v0.4"}}},
    {lhttpc, ".*", {git, "git://github.com/esl/lhttpc", {tag, "1.3.0"}}},
    {lager, ".*", {git, "git://github.com/basho/lager", {tag, "2.0.3"}}}
]}.

{escript_incl_apps, [pgsql, goldrush, lager, getopt, lhttpc]}.
{escript_emu_args, "%%! -escript main giddyup_coverage_escript\n"}.
